.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
    background-color: #000000;
}

:host {
    --sds-c-button-color-background : #B30606;
    --sds-c-button-text-color-border : #ffffff;
}
.playIcon {
    --sds-c-button-color-border-filled: #ffffff;
    --sds-c-icon-color-foreground-default: #ffffff;

}