:host {
    --sds-c-card-color-background: #000000;


}
.navIcon{
    --sds-c-icon-color-foreground-default: #ffffff;

}
.cardtitle{
    color: #ffffff;

}
.mainCard{
    height: 100vh;
    background-color: #0c0c0c;
}

.playerCont {
    background-color: #0c0c0c;
    width: 100%;
}
a {
    color: #B30606;
}


